.statistics{
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

.statistics .half-1{
    width: 18%;

}

.statistics .half-2{
    width: 82%;
    min-height: 100%;
    background-color: #f2f2f2;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.admin-dashboard{
    background-color: #171829;
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap:50px;
    position: fixed;
    top:0px;
    z-index: 30;
    box-shadow: 0 2px 5px rgba(170, 170, 170, 0.489);
    transition:cubic-bezier(0.215, 0.610, 0.355, 1) 300ms ;
}

.admin-dashboard .dash-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap:20px;
}

.admin-dashboard .item{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    color: white;
    gap:10px;
    font-size: 12px;
    width: 90%;
    font-family: Poppins;
    border-radius: 7px;
    height: 50px;
    cursor: pointer;
    transition: all 200ms;
}

.admin-dashboard .item:hover{
    background-color: #306be9;
    color: white;
}

.admin-dashboard .active-admin-item{
    background-color: #306be9;
    color: white;

}

.link-router{
    width: 100%;
    display: flex;
    justify-content: center;
}

.statistics-grid{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    gap:25px;
    padding: 0 30px 0 30px; 

}

.statistics-grid .grid{
   
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    
}

.statistics-grid .grid-1{
    color: rgb(70, 70, 70);
    width: 30%;
}
.statistics-grid .grid-2{
    width: 70%;
    display: flex;
    
}

.statistics-grid .grid-1 .pie{
    width: 99%;
    min-height: 350px;
    max-height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow:  0 2px 5px 0 rgba(134, 134, 134, 0.401) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.statistics-grid .grid-1 .pieElement{
    width:400px;
    min-height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}



.statistics-grid .grid-1 .pie .title{
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.statistics-grid .grid-1 .pie .legends{
    display: flex;
    flex-direction: row;
    gap:27px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    font-family: Poppins;
}
.statistics-grid .grid-1 .pie .legends p{
    text-align: center;
}

.leg-title{
    color: #306be9;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.line-chart-cont{
    width: 100%;
    min-height: 350px;
    max-height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow:  0 2px 5px 0 rgba(134, 134, 134, 0.401) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.line-chart{
    width: 99%;
    height: 490px;
}


.bar-chart-cont{
    width: 100%;
    min-height: 350px;
    border-radius: 12px;
    background-color: white;
    box-shadow:  0 2px 5px 0 rgba(134, 134, 134, 0.401) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.bar-chart{
    width: 100%;
    height: 490px;
}

.half-2 .grid-3{
    padding: 0 30px 0 30px;
 

}

.menu-icon-container{
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #306be9;
    color: white;
    width: fit-content;
    margin-left: 30px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 250ms;
}

.menu-icon-container:hover{
    filter: brightness(85%);
}



/*End of statistics*/

/*************************************/

/*Start of Statistics media queries*/

@media screen and (max-width:1316px)
{
    .admin-dashboard{
        left: -320px;
        width: 320px;
        border-radius: 0 8px 8px 0;
        border-right: solid rgb(120, 120, 120) 2px;
    }
    .statistics .half-1{
        width: 0px;
    
    }
    
    .statistics .half-2{
        width: 100%;
    }
   
}

@media screen and (max-width:1080px)
{
    .statistics-grid .grid-1 .pieElement{
        width: 97%;
    }
    .statistics-grid .grid-1 .pie .legends{
        font-size: 12px;
    }

}

@media screen and (max-width:836px)
{
    .statistics-grid .grid-1{
        width: 40%;
    }
    .statistics-grid .grid-2{
        width: 60%;
    }
   
}

@media screen and (max-width:662px) {
    .statistics-grid{
        flex-direction: column;
        align-items: center;
        gap:0px
    }
    .statistics-grid .grid-1,.statistics-grid .grid-2{
        width: 100%;
    }
 

}


@media screen and (max-width:360px)
{
    .statistics-grid,.half-2 .grid-3{
        padding: 0 10px 0 10px;
    }

}

.show-adminDashboard{
    left: 0px;
}

.noScroll{
    overflow: hidden;
}

.handleBrightness{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.545);
    position: absolute;
    z-index: 29;
    transition: all 300ms;
}


/*Orders Styles*/

.orders-details-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;
    gap:40px
}

.orders-details-container .orders-api{
    width: 70%;
    min-height: 100%;
    padding: 20px
}



.orders-details-container .orders-api .section-1{
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    padding-left: 10px;
}

.status-filter-container{
    position: relative;
}

.status-filter,.date-filter{
    width: 120px;
    height: 27px;
    border:  solid #a8a8a8 2px;
    border-radius: 20px;
    transform: translateY(4px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 3px 10px 3px 10px;
    color: #666666;
    font-family: Poppins;
    background-color:#f2f2f2;
    z-index: 20;
    position: relative  ;
    cursor: pointer;
    transition: all 250ms;
    font-size: 13px;

}

.status-filter:hover,.date-filter:hover
{
    filter: brightness(105%);
}

.order-filter-dropdown{
    width: 100%;
    height: 200px;
    box-shadow:  0 2px 6px 0 rgba(0, 0, 0, 0.149);
    top:40px;
    border-radius: 10px;
    transition: all 250ms;
    z-index: 19;
    position: absolute;
    background-color: white;
    opacity: 0;
    transform: translateY(-15px);


}

.goDown{
    opacity: 1;
    transform: translateY(0px);
}

.goUp{
    opacity: 0;
    transform: translateY(-15px);
}

.element-clicked{
    background-color: #f2f2f2;
}

.element-clicked::before{
    
    content: '';
    display: inline-block;
    position: absolute;
    border-radius: 20px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(119, 116, 116, 0.267);
}

.orders-arrow{
    transform: translateY(2px);
}

.quick-search-inpt{
    width: 220px;
    height: 27px;
    border: unset;
    outline:  solid #a8a8a8 2px;
    border-radius: 20px;
    transform: translateY(4px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 3px 10px 3px 10px;
    color: #666666;
    font-family: Poppins;
    background-color:#f2f2f2;
    z-index: 19;
    position: relative  ;
    transition: all 250ms;
    font-size: 14px;
}

.quick-search-inpt:focus{
    outline:solid #3e52d5 2px ;
}

  

.order{
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 4px rgba(170, 170, 170, 0.273);
    border-radius: 20px;
    padding: 20px;
    font-family: Poppins;
}

.order .sec-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}
.order .sec-2{
    display: flex;
    flex-direction: column;
    gap:5px
}

.order-sec-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:14px;
    font-size: 11px;
}

.order .sec-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    height: 100%;
}

.order-font{
    font-size: 13px;
    color: #989898;
}

.invoice{
    color: #171829;
    font-size: 14px;
    font-family: Poppins;
}

.view-btn{
    width: 120px;
    height: 37px;
    border-radius: 20px;
    color: white;
    font-family: Poppins;
    background-color: #1ab07a;
    border: unset;
    cursor: pointer;
    position: relative;
    transition: all 250ms;
}

.view-btn::before{
    display: inline-block;
    position: absolute;
    content: '';
     width: 100%;
    height: 100%;
    border-radius: 18px;
    z-index: 20;
    top:0px;
    left: 0px;
    transition: all 250ms;

}   

.view-btn:hover::before{
    background-color: #00000036;
}
.indexText{
    position: relative;
    z-index: 30;
}


.orders-details{
    width: 30%;
    height: 600px;
    position: sticky;
    top:0px;
    transform: translateY(10px);
    margin-top: 10px;
    border: solid black 1px;

}

.action-required{
    width: 100%;
    height: 100%;
    margin-top: 41px;
    display: flex;
    flex-direction: column;
    gap:20px;

}

.action-title{
    background-color: #ea2130;
    color: white;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    font-family: Poppins;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.7px;
    position: relative;
    transform: translate(40px,14px);
}

.action-title::before{
    display: inline-block;
    position: absolute;
    content: '';
    background-color:#ea2130;
    width: 110%;
    height: 7px;
    bottom:-6px;
    border-radius: 50px 50px 9px 9px;
    
    
}

.view-btn-clicked{
    background-color: rgba(0, 0, 0, 0.425);
}

.action-title-2{
    background-color: #4BB543;
    color: white;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.7px;
    position: relative;
    transform: translate(40px,14px);
}
.action-title-2::before{
    display: inline-block;
    position: absolute;
    content: '';
    background-color:#4BB543;
    width: 110%;
    height: 7px;
    bottom:-6px;
    border-radius: 50px 50px 9px 9px;
}