/* Moden header */

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.new-header{
    position: relative;
    z-index: 20;
}

.new-header .sec-1
{
    height: 90px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 23;
    border-bottom: solid 2px rgb(234, 234, 234);
}

.new-header .sec-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 2px 6px 0px rgba(93, 90, 90, 0.142);
    padding-left: 30px;
    padding-right: 30px;


}

.new-header .sec-2 .new-nav{
    font-size: 16px;
    text-rendering:optimizeSpeed;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: Roboto;
    gap:30px;


}

.new-header .sec-2 .new-nav{
    height: 100%;
}

.nav-categories{
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
    height: 100%;

}

.nav-categories .roww-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

.nav-categories .row-2{
    position: absolute;
    background-color: white;
    width: 1100px;
    top:59.6px;
    left: -40px;
    z-index: 30;
    box-shadow: 0px 2px 6px 0px rgba(93, 90, 90, 0.353);
    transform: translateY(14px);
    opacity: 0;
    transition: all 200ms;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.nav-categories .row-2 .category{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: Outfit;
    color: black;
    gap:20px;
    font-weight: 100;

}

.nav-categories .row-2 .category .category-item{
    width: fit-content;
    cursor: pointer;
    transition: all 300ms;
}

.new-nav-item{
    transition: all 250ms;
    cursor: pointer;
}
.new-nav-item:hover
{
    color:#3d52d7
}

.nav-categories .row-2 .category .category-item:hover{
    color: #3e52d5;
}



.nav-categories .row-2 .category .types{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.nav-categories .row-2 .category .first-category{
    font-weight: bold;
}

.nav-categories .drop-down-animate{
    opacity: 1;
    transform: unset;
}

.nav-categories .drop-up-animate{
    opacity: 0;
    transform: translateY(14px);
}





.new-header .dash-input{
    width: 400px;
    background-color: whitesmoke;
    padding-left: 60px;
    font-family: Outfit;
    font-size: 15px;

}

.new-header .dash-search-icon{
    width: 50px;
}

.new-header .points{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    width: 60px;
    height: 30px;
    border :solid #7dbe54 2px;
    border-radius: 10px;
}


.new-header .user-content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Outfit;
    gap:17px;
}


.new-header .type{
    color: white;
    font-size: 12px;
    background-color: #3e52d5;
    border-radius: 9px;
    padding: 3px
}



.react-menu-icon{
    display: flex;
    align-items: center;
    outline: solid rgb(204, 204, 204) 2px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
    display: none;
}

.react-menu-icon:hover{
    outline: solid rgb(138, 138, 138) 2px;

}

.menu-logo{
    display: flex;
    align-items: center;
    gap:20px;
}

.render-size{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}



@media(max-width:1194px)
{
    .nav-categories .row-2
    {
        position: fixed;
        left: 0px;
        top:150px;
    }

    @media (max-width:1123px)
    {
        .nav-categories .row-2{
            width: 970px;
        }
    }
}

@media (max-width:1000px)
{
    .new-header .dash-input{
        width: 100%;
    } 

    .new-header .dash-search-container{
        width: 95%;
    }
    
    .new-header .sec-2{
      justify-content: center;

    }
    .new-header .sec-2 .new-nav{
        display: none;
    }

    .react-menu-icon{
        display: block;
    }
}



@media (max-width:605px)
{
    .new-headerIcon{
        display: none;
    }
}



