

.mobile-menu{
    position: fixed;
    z-index: 100;
    top:0px;
    width: 300px;
    height: 100%;
    background-color: white;
    filter: brightness(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap:50px;
    border-right: solid #808284 2px;
    transition: all 300ms;

}

.exit-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exit-icon-cont{
    outline: solid 2px rgba(128, 128, 128, 0.59);;
    padding: 3px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 250ms;
}

.exit-icon-cont:hover{
    background-color:rgba(84, 82, 82, 0.59) ;
    color: white;
}


.page-content::before{
    position: fixed;
    content: '';
    width: 100%;
    height: 100vh;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.514);

}


.mobile-menu-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobile-nav-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    font-size: 16px;
    font-family: sans-serif;
    border-bottom: solid #d0d0d0 1px;
    font-weight: bold;
    transition: all 400ms;
    height: fit-content;
    padding: 10px;

}

.special-category{
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    border-bottom: solid #d0d0d0 1px;
    font-weight: bold;
    transition: all 400ms;
    padding: 10px;
}

.mobile-categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    height: 0px;
    transition: all 400ms;

}

.parent-category{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 30px;
    border-bottom: #d0d0d0 solid 1px;
    font-weight: 100;
    font-size: 14px;
}

.last-parent{
    border-bottom: unset;
    padding-bottom: 0px;
}

.mobile-nav-text:hover{
    color: #3e52d5;
}

.mobile-category{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.mobile-category-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.mobile-nav-text{
    transition: all 400ms;
    cursor: pointer;
}

.category-animate{
    height:200px;
}

.category-show{
    display: flex;

}

.category-arrow{
    transition: all 250ms;
}

.category-arrow-animate{
    transform: translateY(-2px)rotate(180deg);
}

.mobile-menu-animate{
    left: 0px;
}

.mobile-menu-icons{
    display: flex;
    flex-direction: row;
    gap:18px;
    margin-top: 20px;
    padding-left: 15px;
}